@import "global";

.tracker {
  background: no-repeat url(../../img/pattern-bg-desktop.png);
  background-size: cover;
  height: 200px;
  padding: $offset;
  position: relative;
  text-align: center;
}

h1 {
  color: white;
  font-weight: 500;
  font-size: 30px;
  margin-bottom: $offset;
}